<launch>

    <node pkg="amcl" type="amcl" name="amcl">

        <remap from="map" to="/rtabmap/grid_map" />
        <remap from="scan" to="/zed/laser_scan" />

        <!-- Publish scans from best pose at a max of 10 Hz -->
        <param name="odom_model_type" value="omni"/>
        <param name="gui_publish_rate" value="5" />

    </node>

</launch>