
<!--
##################################################
Run the steering prediction system through this launch
file. You can find the parameters below.
Please pay attention to the simulation parameter!
Length parameter is for the input depth of the Inflated
Convolutional Neural Network. Your input length and the
trained model type should match up. (In this case, 64 fs)

(c) Yongyang Nie, 2018
All Rights Reserved.
Please let me know if you have any questions.
Email: contact@neilnie.com

##################################################
-->

<launch>

    <node name="autopilot_node" type="autopilot_node" pkg="autopilot" output="screen">
    	<param name="model_path" value="$(find autopilot)/scripts/weights/i3d_rgb_64_v10.h5" />
        <param name="gpu_frac" value="0.30"/>
        <param name="img_width" value="224"/>
        <param name="img_height" value="224"/>
    	<param name="length" value="64" />
    	<param name="angle_scale" value="-12.5" />
        <param name="accel_scale" value="30" />
  	</node>

  	<node name="autopilot_visualization_node" type="visualization.py" pkg="autopilot" output="screen"/>
    
</launch>
