<robot name="Dave-v1">

  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <!--.................................................................
    ...........................links.................................
    .................................................................
    -->

  <link name="base_link">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>

          <!-- ............ get the robot ............. -->
          <geometry>
            <mesh filename="package://driver/meshes/chassis-subassem.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="White"/>
      </visual>
    </link>

    <link name="steering_subassem">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/steering_subassem.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="White"/>
      </visual>
    </link>

    <link name="steering_col_subassem">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/steering_col_subassem.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="White"/>
      </visual>
    </link>

    <link name="steering_wheel_fr">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/fr_wheel.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Black"/>
      </visual>
    </link>

    <link name="steering_wheel_fl">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/fl_wheel.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Black"/>
      </visual>
    </link>

    <link name="steering_wheel_rr">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/rr_wheel.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Black"/>
      </visual>
    </link>

    <link name="steering_wheel_rl">
      <visual>
          <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://driver/meshes/rl_wheel.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Black"/>
      </visual>
    </link>



    <!--.................................................................
    ...........................joints................................
    .................................................................
    -->
    

    <joint name="body_to_steering" type="fixed">
        <parent link="base_link"/>
        <child link="steering_subassem"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="body_to_steering_col" type="fixed">
        <parent link="base_link"/>
        <child link="steering_col_subassem"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="body_to_rrw" type="fixed">
        <parent link="base_link"/>
        <child link="steering_wheel_rr"/>
        <origin xyz="0.0 0 0"/>
    </joint>

    <joint name="body_to_rlw" type="fixed">
        <parent link="base_link"/>
        <child link="steering_wheel_rl"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="frw_to_steering" type="fixed">
        <parent link="steering_subassem"/>
        <child link="steering_wheel_fr"/>
        <origin xyz="0 0 0"/>
    </joint>

    <joint name="flw_to_steering" type="fixed">
        <parent link="steering_subassem"/>
        <child link="steering_wheel_fl"/>
        <origin xyz="0 0 0"/>
    </joint>

</robot>