<launch>

    <!-- start camera -->
<!--    <include file="$(find zed_wrapper)/launch/zed_camera.launch">-->

<!--        <arg name="quality" value="4" />-->
<!--        <arg name="max_depth" value="20" />-->
<!--        <arg name="confidence" value="50" />-->

<!--        <arg name="pose_smoothing" value="true" />-->
<!--        <arg name="spatial_memory" value="true" />-->
<!--        <arg name="floor_alignment" value="true" />-->

<!--        <arg name="resolution" value="1" />-->

<!--    </include>-->
    
    <!-- setup the Arduino serial -->
    <node name="serial_node_1" pkg="rosserial_python" type="serial_node.py">
    	<param name="port" value="/dev/ttyACM0" />
    </node>

    <node name="serial_node_2" pkg="rosserial_python" type="serial_node.py">
    	<param name="port" value="/dev/ttyACM1" />
    </node>

    <node name="serial_node_3" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM2" />
    </node>

    <!-- start joystick -->
    <include file="$(find joy)/launch/joystick.launch"/>

<!--    &lt;!&ndash; start rqt gui &ndash;&gt;-->
<!--    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->

</launch>