<launch>

    <!-- start camera -->
    <include file="$(find camera)/launch/start_camera.launch"/>

    <!-- setup the Arduino serial -->
    <node name="serial_node_1" pkg="rosserial_python" type="serial_node.py">
    	<param name="port" value="/dev/ttyACM0" />
    </node>

    <!-- setup the Arduino (braking accelerator) serial -->
    <node name="serial_node_2" pkg="rosserial_python" type="serial_node.py">
    	<param name="port" value="/dev/ttyACM1" />
    </node>

    <!-- start joystick -->
    <include file="$(find joy)/launch/joystick.launch"/>

    <!-- start rqt gui -->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>

    <!-- All your stuff goes here -->
    <node pkg="rosbag" type="record" name="vehicle_rosbag" output="screen" args="-a -x '(.*)image_raw(.*)' -o '/home/neil/ros_bag' "/>

</launch>