<!--
##################################################
This is the master launch file for the program.
if you are looking for a way to run the system
as a whole, you are at the right place. Currently,
rviz and rosbag are running as default. No random
changes accepted

(c) Yongyang Nie, 2018
All Rights Reserved.

##################################################
-->


<launch>

	<!--open up the camera -->
	<include file="$(find cv_camera)/launch/start_camera.launch"/>
    
    <!-- setup the Arduino serial -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    	<param name="port" value="/dev/ttyACM0" />
    </node>

    <!-- launch steering node -->
    <include file="$(find steering_control)/launch/steering_control.launch"/>

    <!-- start object detection -->
    <include file="$(find object_detection)/launch/object_detection.launch"/>

    <!-- start semantic segmentation -->
    <include file="$(find segmentation)/launch/segmentation.launch"/>

    <!-- open rviz launch -->
    <include file="$(find driver)/launch/display.launch"/>

    <node pkg="driver" name="run_rosbag" type="run_bag.sh" />
    
</launch>
