<launch>

    <node pkg="path_planning" type="rgb_segmentation_point_cloud" name="rgb_segmentation_point_cloud" />

<!--    <node pkg="path_planning" name="build_map" type="build_map" output="screen" />-->

    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
        <rosparam command="load" file="$(find path_planning)/params/tutorial_demo.yaml" />
    </node>

    <group ns="planner">

        <remap from="map" to="/occupancy_grid"/>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find path_planning)/params/costmap_local_params.yaml" command="load" />
            <rosparam file="$(find path_planning)/params/costmap_global_params.yaml" command="load" />
        </node>
    </group>

</launch>