<!--

Running rtabmap_ros with the ZED vision system.
Please make sure that ZED is running before launching
rtab_map.

For information about navigation, please take a look
at rtab_map_navigation.launch.

Copyright (c) Yongyang Nie, 2018
All Rights Reserved

Email: contact@neilnie.com

-->

<launch>

    <arg name="zed_namespace"		    	default="zed" />

    <arg name="svo_file"              	default="" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->

    <arg name="camera_model"         	default="1" /> <!-- 0=ZED, 1=ZEDM-->
    <arg name="serial_number"        	default="0" />
    <arg name="verbose"              	default="true" />

    <arg name="rgb_topic"               	default="rgb/image_rect_color" />
    <arg name="depth_topic"             	default="depth/depth_registered" />
    <arg name="camera_info_topic"       	default="rgb/camera_info" />
    <arg name="depth_camera_info_topic" 	default="depth/camera_info" />
    <arg name="camera_frame"              default="zed_camera_center" />

    <!-- RTAB-map Node-->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">

        <arg name="rtabmap_args"		value="--delete_db_on_start" />
        <arg name="rgb_topic"               	value="/$(arg zed_namespace)/$(arg rgb_topic)" />
        <arg name="depth_topic"             	value="/$(arg zed_namespace)/$(arg depth_topic)" />
        <arg name="camera_info_topic"       	value="/$(arg zed_namespace)/$(arg camera_info_topic)" />
        <arg name="depth_camera_info_topic" 	value="/$(arg zed_namespace)/$(arg depth_camera_info_topic)" />
        <arg name="frame_id"                  value="$(arg camera_frame)" />
        <arg name="approx_sync"               value="false" />
        <arg name="visual_odometry"           value="false" />
        <arg name="odom_topic"                value="/$(arg zed_namespace)/odom" />

    </include>

    <!-- Create point cloud for the local planner -->
    <node pkg="nodelet" type="nodelet" name="obstacles_detection" args="load rtabmap_ros/obstacles_detection stereo_nodelet">

        <remap from="cloud" to="/zed/point_cloud/cloud_registered"/>
        <remap from="obstacles" to="/planner_cloud"/>

        <param name="frame_id" type="string" value="base_footprint"/>
        <param name="map_frame_id" type="string" value="map"/>
        <param name="min_cluster_size" type="int" value="20"/>
        <param name="max_obstacles_height" type="double" value="3.0"/>
    </node>

</launch>