<!--
Self-driving vehicle navigation tests using
rtabmap_ros, and actionlib goals.

Note:
In order to use `rtab_map_navigation`, `rtab_map` must be running.
To change navigation goals, please edit the navigation_goals node.

Copyright (c) Yongyang Nie, 2018
All Rights Reserved

Email: contact@neilnie.com

-->

<launch>

    <include file="$(find path_planning)/launch/rtab_mapping.launch" />

    <remap from="map" to="/rtabmap/grid_map"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find path_planning)/params/costmap_local_params.yaml" command="load" />
        <rosparam file="$(find path_planning)/params/costmap_global_params.yaml" command="load" />
        <rosparam file="$(find path_planning)/params/base_local_planner_params.yaml" command="load" />
    </node>

    <node pkg="path_planning" name="navigation_goals" type="navigation_goals" output="screen" />

    <node pkg="path_planning" name="localmap_tf_broadcaster" type="localmap_tf_broadcaster" output="screen" />

</launch>