<launch>

    <node pkg="path_planning" type="rgb_segmentation_point_cloud" name="rgb_segmentation_point_cloud" />

    <group ns="planner">

<!--        <remap from="openni_points" to="/zed/point_cloud/cloud_registered"/>-->
        <remap from="map" to="/rtabmap/proj_map"/>
        <remap from="move_base_simple/goal" to="/planner_goal"/>

        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find path_planning)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find path_planning)/params/costmap_local_params.yaml" command="load" />
            <rosparam file="$(find path_planning)/params/costmap_global_params.yaml" command="load" />
<!--            <rosparam file="$(find path_planning)/params/base_local_planner_params.yaml" command="load" />-->
        </node>
    </group>


<!--    &lt;!&ndash; Create point cloud for the local planner &ndash;&gt;-->
<!--    <node pkg="rtabmap_ros" type="obstacles_detection" name="obstacles_detection">-->
<!--        <remap from="cloud" to="/segmentation/output/road"/>-->

<!--        <param name="frame_id" type="string" value="base_footprint"/>-->
<!--        <param name="map_frame_id" type="string" value="map"/>-->
<!--        <param name="min_cluster_size" type="int" value="20"/>-->
<!--        <param name="max_obstacles_height" type="double" value="0.0"/>-->
<!--    </node>-->

</launch>