
<launch>

    <!-- Launch Carla -->
    <arg name='rosbag_fname' default=''/>
    <param name="rosbag_fname" value="$(arg rosbag_fname)"/>
    <rosparam file="$(find simulation)/config/settings.yaml" command="load" />
    <node pkg="simulation" name="carla_client" type="client.py" output="screen"/>

    <!-- Manual Control and Other Vehicles -->
    <node pkg="simulation" name="manual_control" type="manual_control.py" output="screen"/>
    <node pkg="simulation" name="spawn_npc" type="spawn_npc.py" output="screen"/>

    <include file="$(find autopilot)/launch/autopilot.launch"  pass_all_args="True"/>
    <node pkg="simulation" name="self_driving_system_bridge" type="self_driving_system_bridge.py" output="screen" />

</launch>
