<launch>

    <node name="camera_sim_node" type="camera_sim_node" pkg="simulation" output="screen">
    	<param name="sim_data_path" value='/hdd/ssd_2/dataset/golf-cart/Dataset/Dataset_Part2/center/'/> <!--  '/hdd/ssd_2/dataset/golf-cart/data-feb-11/data-2''/hdd/ssd_2/dataset/golf-cart/Dataset/Dataset_Part2/center/' -->
        <param name="has_gt" value="0" />
        <param name="time_delay" value="0.02"/>
  	</node>

    <node pkg="camera" name="image_view" type="image_view.sh" />

</launch>