<!--
##################################################
Run the segmentation system through this launch
file. You can find the parameters below.

(c) Yongyang Nie, 2018
All Rights Reserved.

##################################################
-->

<launch>

<!--    <node name="camera_select" pkg="zed_wrapper" type="camera_select.py" />-->

    <!--open up the camera -->
	<node name="segmentation_node" pkg="segmentation" type="segmentation_node" output="screen">
        <param name="input_img_height" value="1024"/>
        <param name="input_img_width" value="512"/>
        <param name="output_img_height" value="640"/>
        <param name="output_img_width" value="480"/>
        <param name="visualization" value="1" type="bool"/>
{#        <param name="weight_path" value="$(find segmentation)/scripts/weights/icnet_cross_fusion_gl_040_0.886.h5"/>#}

        <param name="weight_path" value="$(find segmentation)/scripts/weights/icnet_large_full_040_0.781.h5"/>
        <!-- icnet_large_full_2_025_0.796.h5 -->
    </node>

</launch>