<launch>

    <arg name='enable_rosbag' default='False'/>

    <rosparam file="$(find simulation)/config/settings.yaml" command="load" />

    <param name="carla_autopilot" type="boolean" value="True" />

    <param name='enable_rosbag' type="boolean" value="$(arg enable_rosbag)"/>

    <node pkg="simulation" name="run_carla" type="run_carla.sh" />

    <node pkg="simulation" name="carla_ros_bridge" type="client.py" output="screen"/>


</launch>
