<launch>

	<!--open up the camera -->
	<node name="camera_node" pkg="camera" type="python_cam.py">
    <!--    <param name="image_transport" value="compressedDepth"/> -->
    </node>


    <node pkg="camera" name="camera_output_select" type="camera_select.py"/>

    <node pkg="camera" name="image_view" type="image_view.sh" />

</launch>